<div class="container " style="margin-top: 12%;">
    <br><br>
    <div data-aos="zoom-out-up"
    data-aos-duration="3000"  id="port">
        <img [src]="myImage" alt="">
    </div><br>
    
   
    <div   data-aos="flip-up" data-aos-duration="3000"class="container text-white" style="background-color: black;height: 100px;">
        <br>
        <h3 >Education :</h3>
        <p>B.TECH Electronics And Communication</p>
        <h3 style="margin-left: 40%;margin-top: -80px;">University:</h3>
        <p style="margin-left: 40%;">CUSAT</p>
        <button style="float: right; margin-top: -70px;" class="btn btn-primary">Hire Me</button>

    </div>
    <br>
    <h3 class="text-white">SERVICES</h3>
    <div>
        <a href="">
            <div data-aos="flip-left" data-aos-duration="3000"class="mx-2" style="background-color: chartreuse;text-align: center; float: left;height: 250x; width: 350px;" >
            <h3  class="my-5" >Custom Design</h3>
           </div>
        </a>
        <a href="">
            <div data-aos="flip-up" data-aos-duration="3000" class="mx-2" style="background-color: chartreuse;text-align: center; float: left;height: 250x; width: 350px;" >
                <h3  class="my-5" >Word press</h3>
               
            </div>
        </a>
        <a href="">
            <div data-aos="flip-right" data-aos-duration="3000" class="mx-2" style="background-color: chartreuse;text-align: center; float: left;height: 250x; width: 350px;" >
                <h3  class="my-5" >E-commerce</h3>
               
            </div>
        
        </a>
       
    </div>
    <section class="testimonial" style="height: 350px;" >
        <div style="height: 300px;" class="containers">
            <owl-carousel-o   [options]="customOptions">
                <ng-template  carouselSlide>
                    <img style="float: left; border-radius: 50%; height: 200px;width: 200px;" src="../../assets/images/1.jpg" alt="">
                    <div class="test-content text-center">
                        <h2>John</h2>
                        <h3>Web Designer</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat."</p>
    
                    </div>
                </ng-template>  
                <ng-template  carouselSlide>
                    <img style="float: left; border-radius: 50%; height: 200px;width: 200px;" src="../../assets/images/2.jpg" alt="">
                    <div class="test-content text-center">
                        <h2>Alex</h2>
                        <h3>Web Developer</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat."</p>
    
                    </div>
                </ng-template>   
                <ng-template  carouselSlide>
                    <img style="float: left; border-radius: 50%; height: 200px;width: 200px;" src="../../assets/images/3.png" alt="">
                    <div class="test-content text-center">
                        <h2>Twain</h2>
                        <h3>Graphic Designer</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat."</p>
    
                    </div>
                </ng-template>  
            </owl-carousel-o>
           </div>
    </section>
    
</div>


